<div class="container-fluid">
    <h2>Registration Form</h2>
    {{registrationFrom.value | json}}
    <form [formGroup]='registrationFrom'>
      <div class="form-group">
        <label>User Name </label>
        <input formControlName="userName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Password </label>
        <input formControlName="password" type="password" class="form-control">
      </div>
      <div class="form-group">
        <label>Confirm Password </label>
        <input formControlName="confirmPassword" type="password" class="form-control">
      </div>
  <button class="btn btn-primary" type="submit">Register</button>
  <button (click)="loadApiData()" class="btn btn-secondary" type="button">Load Api Data</button>
  
    </form>
  
  </div>